.row
  .col-sm-8.col-sm-offset-2
    header.page-header
      h2 Book
    form role="form" novalidate="" name="bookForm"
      .form-group ng-class="{'has-error': !bookForm.book_isbn.$valid}"
        label for="book_isbn"
          = Book.human_attribute_name :isbn
        input.form-control type="text" name="book_isbn" ng-model="book.isbn" required=""
      .form-group ng-class="{'has-error': !bookForm.book_author.$valid}"
        label for="book_author"
          = Book.human_attribute_name :author
        input.form-control type="text" name="book_author" ng-model="book.author" required=""
      .form-group ng-class="{'has-error': !bookForm.book_title.$valid}"
        label for="book_title"
          = Book.human_attribute_name :title
        input.form-control type="text" name="book_title" ng-model="book.title" required=""
      .form-group ng-class="{'has-error': !bookForm.book_isbn.$valid, 'has-warning': book.price == 0}"
        label for="book_price"
          = Book.human_attribute_name :price
        .input-group
          span.input-group-addon $
          input.form-control type="number" step="any" min="0" name="book_title" ng-model="bookHumanPrice" required=""
      .actions
        a.btn.btn-default ng-href="/" Back
        .pull-right
          button.btn.btn-primary ng-click="submitBook()" ng-disabled="!bookForm.$valid" Save


