.row
  .col-sm-12
    header.page-header
      h2 Books
    table.table
      thead
        tr
          th.remove-col
          th.isbn-col ISBN
          th.author-col Author(s)
          th.title-col Title
          th.price-col Price
          th.action-col
      tbody
        tr book-row="" book="book" removebook="removeBook(book)" ng-repeat="book in books"
      tfoot
        tr
          td colspan="6"
            .pull-right
              a ng-href="/new" class="btn btn-primary" New Book
