td.remove-col
  a.text-danger ng-click="removeBook(book)"
    i.glyphicon.glyphicon-remove
td.isbn-col
  | {{book.isbn}}
td.author-col
  | {{book.author}}
td.title-col
  | {{book.title}}
td.price-col
  | $ {{book.price / 1000 | number : 2}}
td.action-col
  a ng-href="/{{book.id}}"
    i.glyphicon.glyphicon-pencil
